/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap'); */

:root {
  --body-black: #1f1c1c;
  --body-white: #fff;
  --header-neon: #03040f;
  --btn-carrito: #a3f0ce;
  --btn-favorito: #fab3b3;
  --btn-usuario: #a9a8ec;
  --btn-pais: #d0ccd1;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* text-shadow: 1px 1px 1px #000; */
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--body-black);
  color: var(--body-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  margin: 50px 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  font-family: "Titan One", sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 18px;
}

img {
  max-width: 100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--header-neon);
  /* background: transparent; */
  /* backdrop-filter: blur(10px); */
}

.header-container {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-bar li>.nav-links {
  padding: 10px 15px;
  border: 1px solid #b1b1b1;
  color: #c6c7e2;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-bar li>.nav-links:hover {
  box-shadow: 4px 4px 1px #4400ff;
  background: #c6c7e2;
  color: #000117;
}

.nav-bar li>.btn {
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 10px;
}

.nav-bar li>.btn {
  transition: all 0.3s ease-in-out;
}

.nav-bar li>.btn>i {
  font-size: 19px;
}

.btn-carrito {
  background: var(--btn-carrito);
}

.btn-carrito>i {
  color: green;
}

.btn-carrito:hover {
  box-shadow: 0px 0px 30px var(--btn-carrito);
}

.btn-favorito {
  background: var(--btn-favorito);
}

.btn-favorito>i {
  color: red;
}

.btn-favorito:hover {
  box-shadow: 0px 0px 30px var(--btn-favorito);
}

.btn-perfil {
  background: var(--btn-usuario);
}

.btn-perfil>i {
  color: blue;
}

.btn-perfil:hover {
  box-shadow: 0px 0px 30px var(--btn-usuario);
}

.btn-pais {
  background: var(--btn-pais);
}

.btn-pais>i {
  color: #000;
}

.btn-pais:hover {
  box-shadow: 0px 0px 30px var(--btn-pais);
}

.sct-banner {
  /* height: 60vh; */
}

.container-banner {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../img/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sct-categorias {
  background-color: #000;
  height: 70vh;
}

.container-cat {
  /* display: flex; */
}

.txt-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.items {
  cursor: pointer;
  padding: 6% 7%;
  margin: 0 15px;
  width: 60%;
  border: 3px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: border .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.items:hover {
  border: 3px solid #fff;
  transform: scale(1.02);
}

.items > span {
  font-size: 2.8em;
}

#id-item-1 {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(../img/cat-consolas.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#id-item-2 {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(../img/cat-accesorios.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#id-item-3 {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(../img/cat-videojuegos.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.sct-categorias-productos {
  padding: 45px 0;
  background: var(--header-neon);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3b3b3b;
  width: 60%;
  margin: 0 auto 30px auto;
  padding: 30px 0;
}

.subtitulo-categorias {
  margin: 0;
}

.contenedor-categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  margin: 0 auto; */
}

.card {
  width: 200px;
  height: 300px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  margin: 0 15px;
}

.card2 {
  width: 200px;
  height: 300px;
  background-color: #1a1a1a;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}